<!doctype html>
<html ng-app="store" lang="en">
<head>
	<title>Angular JavaScript</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/angular_javascript.css">
	
</head>
<body>
	<div class="container-fluid">
		<br>

		<div class="jumbotron">
			<h1 class="text-center">Gems Galore</h1>
		</div>

		<hr>
		<br>
		<!-- Gems Products and Images -->
		<div ng-controller="StoreController as store">
			<div class="row">
				<div class="col-md-4" ng-repeat="product in store.products">
					<div class="thumbnail" ng-hide="product.soldOut">
						<img ng-src="{{product.image}}" alt="{{product.name}}">
						<div class="caption text-right">
							<p>name: {{product.name}}</p>
							<p>price: {{product.price | currency}}</p>
							<p>canPurchase: {{product.canPurchase}}</p>
							<p>soldOut: {{product.soldOut}}</p>
							<button ng-show="product.canPurchase" class="btn btn-success">Buy Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<br>
		<!-- List of Gems -->
		<div class="panel panel-warning" ng-controller="GemListController as gems">
			<div class="panel-heading">List of Gems</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="gem in gems.gemlist | orderBy:'-'">{{gem}}</li>
				</ul>
			</div>
		</div>

		<hr>
		<br>
		<!-- Tab Information -->
		<div ng-controller="TabController as tab">
			<ul class="nav nav-pills">
				<li ng-class="{ active:tab.isSet(1) }">
					<a href ng-click="tab.setTab(1)">Description</a>
				</li>
				<li ng-class="{ active:tab.isSet(2) }">
					<a href ng-click="tab.setTab(2)">Specs</a>
				</li>
				<li ng-class="{ active:tab.isSet(3) }">
					<a href ng-click="tab.setTab(3)">Reviews</a>
				</li>
			</ul>
			<div ng-show="tab.isSet(1)">
				<h4>Description</h4>
				<p>This is the description.</p>
			</div>
			<div ng-show="tab.isSet(2)">
				<h4>Specs</h4>
				<p>This is the specs.</p>
			</div>
			<div ng-show="tab.isSet(3)">
				<h4>Reviews</h4>
				<p>This is the reviews.</p>
			</div>
		</div>

		<hr>
		<br>

		<div>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Enter a name here">
			<hr>
			<h1>Hello {{yourName}}!</h1>
		</div>

		<hr>
		<br>

		<div>
			<p id="textOne">Cool</p>
			<button class="btn btn-primary" onclick="changeText()">Click Me</button>
		</div>

		<hr>
		<br>

		<div>
			<p>Some paragraph text</p>
	    <h1>some heading 1 text</h1>
	    <h2>some heading 2 text</h2>

	    <a href="#" id="size-12">12</a>
	    <a href="#" id="size-14">14</a>
	    <a href="#" id="size-16">16</a>
		</div>

		<hr>
		<br>
		<h1>Module Pattern with Closures</h1>
		<p id="petText">Mickey the Cat</p>
		<button class="btn btn-info" onclick="changePet()">Change Pet Name</button>
	

		<div id="compositeText">
			<p>Cool</p>
			<p>Awesome</p>
			<p>It's amazing</p>
			<button class="btn btn-warning" onclick="showDOM()">show DOM elements</button>
		</div>

		<hr>
		<br>

		<h1>Module Pattern 2</h1>
		<p id="moduleText">This sentence will change when data is accessed from a module.</p>
		<button class="btn btn-success" id="moduleButton">Module Change</button>

		<hr>
		<br>

	</div>

</body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/module_pattern.js"></script>
</html>